@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Anek Malayalam', sans-serif;
  background-color: #fafafa;
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
}

.quiz-container {
  
  max-width: 500px;
  min-width: 250px;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 100px;
  padding: 30px 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.quiz-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}




.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #21421e;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: rgba(9, 134, 102, 0.5); /* Lighter color with 50% opacity */
  border: 1px solid #21421e;
}



.quiz-container button {
  background-color: #098666;
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 0 2px 4px rgba(33, 66, 30, 0.5); /* Green shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Add transition */
}

.quiz-container button:hover {
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 4px 8px rgba(33, 66, 30, 0.7); /* Darker green shadow on hover */
}




.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #098666;
  font-size: 22px;
}
.violations{
  color: red;
  font-size: 20px;
  font-weight: 700;
}